.reveal .slides section {
	padding: 0;
	height: 100%;
}

.reveal .slides section iframe {
	width: 100%;
	height: 100%;
	border: none;
	margin: 0;
	padding: 0;
}

.reveal iframe {
	max-width: initial;
	max-height: initial;
}

.reveal .slides {
	width: 100% !important;
	height: 100% !important;
}

.reveal .slides section {
	width: 100% !important;
	height: 100% !important;
	top: 0 !important;
	left: 0 !important;
}

.reveal:focus,
body:focus {
	outline: none;
}
